html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100%;
  height: 100%;
}

#gui {
  position: absolute;
  top: 2px;
  left: 2px;
}

.fabs {
  --_viewport-margin: 2.5vmin;

  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: var(--_viewport-margin);

  inset-block: auto 2.5vmin;
  inset-inline: auto 2.5vmin;
}

.fab {
  --_bg: #22b8cf;
  --_bg-hover: #1098ad;

  border: none;
  /* border-radius: 50%; */
  aspect-ratio: 1;

  background: var(--_bg);
  color: white;

  &:is(:active, :hover) {
    --_bg: var(--_bg-hover);
  }

  & > svg {
    stroke-width: 1px;
    stroke: #ffffff;
  }

  -webkit-tap-highlight-color: transparent;
}
